* {
    box-sizing: border-box;
}

body {
   
    background-color: grey;
}

.leadergrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-gap: 20px;    

}
div {
    display: grid;
}
.leadername {
    font-size: 30px;
    color: greenyellow;
    margin: 0;

}
.leaderposition {
    font-size: 20px;
    color: skyblue;
    margin: 0;
}
p {
    color: gold;
    font-style: italic;
    font-size: 15px;
    margin: 0;

}
h2 {
    text-align: center;
    color: darkturquoise;
    font-size: 40px;
    font-family: monospace;
}   
ul {
    font-family: cursive;
    font-style: italic;
}
::marker {
    color: gold;
}